@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraft";
  src: url("/src/assets/minecraft-font/MinecraftRegular-Bmg3.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Set body default */
body {
  font-family: "Minecraft", sans-serif;
}
